<!DOCTYPE html>
<html>

<head>
    <title>{{ weather.city }} Weather</title>
</head>

<body>

    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Submit</button>
    </form>

    <h1>City : {{ weather.city }}</h1>
    <h2>Weather Details</h2>
    Description : {{ weather.description }}
    Temprature : {{ weather.temprature }}
    Wind Speed : {{ weather.wind }}
    <figure class="image is-50x50">
        <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
    </figure>
</body>

</html>